#friends-display-link {
  display: block;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
  padding: 0px 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 30px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}
