#friends-display-link {
  display: flex;
  justify-content: center;
  background-color: rgb(244, 244, 244);
  padding: 15px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
  padding: 0px 5px;
}
